html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;background-color:#FFF;color:#444;font-size:87.5%;font-family:"Microsoft Yahei","宋体",Tahoma,Helvetica,Arial,"SimSun",sans-serif;background:url(img/background.png) #E1E1E1;}
a{background:transparent;color:#2ae;text-decoration:none;}
a:hover,a:active{outline:0;color:#089;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
pre,code{background:#f3f3f0;font-size:.92857em;font-family:Menlo,Monaco,Consolas,"Lucida Console","Courier New",monospace;}
code{padding:2px 4px;color:#b94a48;}
pre{overflow:auto;padding:0;max-height:400px;border:1px solid #ccc;white-space:pre-wrap;}
pre code{padding:3px;color:#444;}
code,kbd,pre,samp{font-size:1em;font-family:monospace,serif;}
blockquote{margin:1em 1.5em;padding-left:1.5em;border-left:4px solid #f3f3f0;}
h1,h2,h3,h4,h5,h6{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
h1{margin:.67em 0;font-size:2em;}
input,textarea,button{outline:none}
input[type="text"],input[type="email"],input[type="url"],input[type="password"],textarea{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:6px;width:100%;border:1px solid #ccc;}
input[type="text"]:hover,input[type="email"]:hover,input[type="url"]:hover,input[type="password"]:hover,textarea:hover{border:1px solid #2ae;}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}
input[type=search]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield;}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}
textarea{overflow:auto;vertical-align:top;resize:vertical;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
[hidden],template{display:none;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:700;}
dfn{font-style:italic;}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}
mark{background:#ff0;color:#000;}
q{quotes:"\201C" "\201D" "\2018" "\2019";}
small{font-size:80%;}
sub,sup{position:relative;vertical-align:baseline;font-size:75%;line-height:0;}
sup{top:-.5em;}
sub{bottom:-.25em;}
img{border:0;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
fieldset{margin:0 2px;padding:.35em .625em .75em;border:1px solid silver;}
legend{padding:0;border:0;}
button,input,select,textarea{margin:0;font-size:100%;font-family:inherit;}
button,input{line-height:normal;}
button,select{text-transform:none;}
button,html input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button;}
button[disabled],html input[disabled]{cursor:default;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
table{border-collapse:collapse;border-spacing:0;}
.submit{width:100%;background:#fff;border:1px solid #ccc;padding:6px 0;}
.submit:hover{border:1px solid #2ae;}
.post-meta a,.post-content a,.widget a,.comment-content a{border-bottom:1px solid #EEE;}
.post-meta a:hover,.post-content a:hover,.widget a:hover,.comment-content a:hover{border-bottom-color:transparent;}
.browsehappy{padding:8px 0;background:#fbe3e4;color:#8a1f11;text-align:center;}
.browsehappy a{color:#8a1f11;text-decoration:underline;font-weight:bold;}
#header{padding-top:35px;border-bottom:1px solid #EEE;}
#logo{color:#2ae;font-size:2.5em;}
.description{margin:.5em 0 0;color:#999;}
#nav-menu{margin:35px 0 0;padding:0;}
#nav-menu a{float:left;display:block;margin-right:-1px;padding:0 20px;height:38px;border:1px solid #EEE;border-bottom:0;color:#444;font-size:18px;line-height:32px;}
#nav-menu a:hover{background:#3cf;color:#FFF;}
#nav-menu .current{background:#2ae;color:#FFF;}
#search{position:relative;margin-top:15px;}
#search input{padding-right:30px;-webkit-transition:.5s;-moz-transition:.5s;-o-transition:.5s;transition:.5s;width:50%;}
#search input:focus{width:100%}
#search button{position:absolute;top:2px;right:264px;padding:0;width:24px;height:24px;border:0;background:transparent url(img/icon-search.png) no-repeat center center;text-indent:-9999em;direction:ltr;}
@media(-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){#search button{background-image:url(img/icon-search@2x.png);background-size:24px 24px;-webkit-background-size:24px 24px;-moz-background-size:24px 24px;-o-background-size:24px 24px;}
}
.post{padding:15px 0 20px;border-bottom:1px solid #EEE;}
.post-title{margin:.83em 0;font-size:1.4em;}
.post-meta{margin-top:-0.5em;padding:0;color:#999;font-size:.92857em;}
.post-meta li{display:inline-block;margin:0 8px 0 0;padding-left:12px;border-left:1px solid #EEE;}
.post-meta li:first-child{margin-left:0;padding-left:0;border:0;}
.post-content{line-height:1.5;}
.post .tags{clear:both;}
.post-near{margin:30px 0;padding:0;color:#999;list-style:none;}
.post-near li{margin:10px 0;}
.archive-title{margin:1em 0 0 0;padding:10px 20px;border:2px dashed #8c0;background:#cfa;color:#333;font-size:1em;}
.more{text-align:center;}
.more a{border:0;}
.protected .text{width:50%;}
.page-navigator{margin:25px 0;padding:0;list-style:none;text-align:center;}
.page-navigator li{display:inline-block;margin:0 4px;}
.page-navigator a{display:inline-block;padding:0 10px;height:30px;line-height:30px;}
.page-navigator a:hover{background:#EEE;text-decoration:none;}
.page-navigator .current a{background:#EEE;color:#444;}
#comments{padding-top:15px;}
.comment-list,.comment-list ol{list-style:none;margin:0;padding:0;}
.comment-list{margin-top:-1px;}
.respond p{margin:10px 0 ;}
.respond h3{margin:12px 0 0 0 ;}
.comment-list li{border-top:1px solid #ddd;padding:15px 0 0;}
.comment-list li .comment-reply{float:right;margin-top:-39px;border:1px solid #ccc;padding:0 10px;font-size:.92857em;}
.comment-meta a{color:#999;font-size:.92857em;}
.comment-author{display:block;margin-bottom:3px;color:#444;}
.comment-author .avatar{float:left;border:1px solid #ddd;margin:1px 10px 0 0;padding:1px;}
.comment-author cite{font-weight:700;font-style:normal;}
.comment-list .respond{margin-top:15px;border-top:1px solid #aaa;}
.comment-body .respond{border:none;margin:0 0 25px;}
.respond .cancel-comment-reply{float:right;border:1px solid #ccc;border-top:none;border-bottom:none;padding:0 10px;font-size:14px;background:#ddd;}
#comment-form label{display:block;color:#888;position:absolute;margin:6px;}
#comment-form input{line-height:16px;height:32px;border:solid 1px #D4D4D4;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;background:#fdfdfd;padding:5px 6px 5px 45px;}
.comment-children{padding-left:30px;}
.comment-children .comment-children{padding-left:0;}
.comment-content{overflow:hidden;margin-right:50px;}
#secondary{padding-top:15px;word-wrap:break-word;}
.widget{margin-bottom:30px;}
.widget-title{margin:0 0 .7em;padding:5px;width:100px;border-left:5px solid #999;background-color:#eee;color:#777;font-weight:bolder;font-size:15px;line-height:100%;-webkit-transition:.5s;-moz-transition:.5s;-o-transition:.5s;transition:.5s}
.widget-title:hover{width:90%;border-left:5px solid #2ae;background-color:#eee}
.widget-list{padding:0;list-style:none;}
.widget-list li{margin:5px 0;line-height:1.5;}
.widget-list li ul{margin-left:15px;}
#footer{padding:3em 0;color:#999;text-align:center;line-height:1.5;background-color: #5a595a;}
.error-page{margin-top:100px;margin-bottom:100px;}
.post-content,.comment-content{word-wrap:break-word;line-height:1.5;}
.post-content h2,.comment-content h2{font-size:1.28571em;}
.post-content img,.comment-content img,.post-content video,.comment-content video{max-width:100%;}
.post-content a img,.comment-content a img{position:relative;bottom:-4px;background:#FFF;}
.post-content hr,.comment-content hr{margin:2em auto;width:100px;border:1px solid #e9e9e9;border-width:2px 0 0 0;}
.aligncenter,div.aligncenter{display:block;margin-right:auto;margin-left:auto;}
.alignleft{float:left;}
.alignright{float:right;}
img.alignleft{margin:0 15px 0 0;}
img.alignright{margin:0 0 0 15px;}
@media(max-width:767px){body{font-size:81.25%;}
#nav-menu a{float:none;display:inline-block;margin:0 -2px;}
}
@media(max-width:768px){#header,.post-title,.post-meta{text-align:center;}
}
@media(min-width:1200px){.container{max-width:952px;}
}
.hidden{display:none!important;visibility:hidden;}
.sr-only{position:absolute;overflow:hidden;margin:-1px;padding:0;width:1px;height:1px;border:0;}
.sr-only.focusable:active,.sr-only.focusable:focus{position:static;overflow:visible;clip:auto;margin:0;width:auto;height:auto;}
.invisible{visibility:hidden;}
.container,.row [class*="col-"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.container{margin:auto;padding:0 20px;}
.main{margin:20px auto;border:1px solid #ccc;background:#fff;box-shadow:0 1px 3px rgba(68,68,68,0.4)}
.row{margin-right:-10px;margin-left:-10px;}
.row [class*="col-"]{float:left;padding-right:10px;padding-left:10px;min-height:1px;}
.row [class*="-push-"],.row [class*="-pull-"]{position:relative;}
.col-mb-1{width:8.33333%;}
.col-mb-2{width:16.66667%;}
.col-mb-3{width:25%;}
.col-mb-4{width:33.33333%;}
.col-mb-5{width:41.66667%;}
.col-mb-6{width:50%;}
.col-mb-7{width:58.33333%;}
.col-mb-8{width:66.66667%;}
.col-mb-9{width:75%;}
.col-mb-10{width:83.33333%;}
.col-mb-11{width:91.66667%;}
.col-mb-12{width:100%;}
@media(min-width:768px){.container{max-width:728px;}
.col-tb-1{width:8.33333%;}
.col-tb-2{width:16.66667%;}
.col-tb-3{width:25%;}
.col-tb-4{width:33.33333%;}
.col-tb-5{width:41.66667%;}
.col-tb-6{width:50%;}
.col-tb-7{width:58.33333%;}
.col-tb-8{width:66.66667%;}
.col-tb-9{width:75%;}
.col-tb-10{width:83.33333%;}
.col-tb-11{width:91.66667%;}
.col-tb-12{width:100%;}
.col-tb-offset-0{margin-left:0;}
.col-tb-offset-1{margin-left:8.33333%;}
.col-tb-offset-2{margin-left:16.66667%;}
.col-tb-offset-3{margin-left:25%;}
.col-tb-offset-4{margin-left:33.33333%;}
.col-tb-offset-5{margin-left:41.66667%;}
.col-tb-offset-6{margin-left:50%;}
.col-tb-offset-7{margin-left:58.33333%;}
.col-tb-offset-8{margin-left:66.66667%;}
.col-tb-offset-9{margin-left:75%;}
.col-tb-offset-10{margin-left:83.33333%;}
.col-tb-offset-11{margin-left:91.66667%;}
.col-tb-offset-12{margin-left:100%;}
.col-tb-pull-0{right:0;}
.col-tb-pull-1{right:8.33333%;}
.col-tb-pull-2{right:16.66667%;}
.col-tb-pull-3{right:25%;}
.col-tb-pull-4{right:33.33333%;}
.col-tb-pull-5{right:41.66667%;}
.col-tb-pull-6{right:50%;}
.col-tb-pull-7{right:58.33333%;}
.col-tb-pull-8{right:66.66667%;}
.col-tb-pull-9{right:75%;}
.col-tb-pull-10{right:83.33333%;}
.col-tb-pull-11{right:91.66667%;}
.col-tb-pull-12{right:100%;}
.col-tb-push-0{left:0;}
.col-tb-push-1{left:8.33333%;}
.col-tb-push-2{left:16.66667%;}
.col-tb-push-3{left:25%;}
.col-tb-push-4{left:33.33333%;}
.col-tb-push-5{left:41.66667%;}
.col-tb-push-6{left:50%;}
.col-tb-push-7{left:58.33333%;}
.col-tb-push-8{left:66.66667%;}
.col-tb-push-9{left:75%;}
.col-tb-push-10{left:83.33333%;}
.col-tb-push-11{left:91.66667%;}
.col-tb-push-12{left:100%;}
}
@media(min-width:992px){.container{max-width:952px;}
.col-1{width:8.33333%;}
.col-2{width:16.66667%;}
.col-3{width:25%;}
.col-4{width:33.33333%;}
.col-5{width:41.66667%;}
.col-6{width:50%;}
.col-7{width:58.33333%;}
.col-8{width:66.66667%;}
.col-9{width:75%;}
.col-10{width:83.33333%;}
.col-11{width:91.66667%;}
.col-12{width:100%;}
.col-offset-0{margin-left:0;}
.col-offset-1{margin-left:8.33333%;}
.col-offset-2{margin-left:16.66667%;}
.col-offset-3{margin-left:25%;}
.col-offset-4{margin-left:33.33333%;}
.col-offset-5{margin-left:41.66667%;}
.col-offset-6{margin-left:50%;}
.col-offset-7{margin-left:58.33333%;}
.col-offset-8{margin-left:66.66667%;}
.col-offset-9{margin-left:75%;}
.col-offset-10{margin-left:83.33333%;}
.col-offset-11{margin-left:91.66667%;}
.col-offset-12{margin-left:100%;}
.col-pull-0{right:0;}
.col-pull-1{right:8.33333%;}
.col-pull-2{right:16.66667%;}
.col-pull-3{right:25%;}
.col-pull-4{right:33.33333%;}
.col-pull-5{right:41.66667%;}
.col-pull-6{right:50%;}
.col-pull-7{right:58.33333%;}
.col-pull-8{right:66.66667%;}
.col-pull-9{right:75%;}
.col-pull-10{right:83.33333%;}
.col-pull-11{right:91.66667%;}
.col-pull-12{right:100%;}
.col-push-0{left:0;}
.col-push-1{left:8.33333%;}
.col-push-2{left:16.66667%;}
.col-push-3{left:25%;}
.col-push-4{left:33.33333%;}
.col-push-5{left:41.66667%;}
.col-push-6{left:50%;}
.col-push-7{left:58.33333%;}
.col-push-8{left:66.66667%;}
.col-push-9{left:75%;}
.col-push-10{left:83.33333%;}
.col-push-11{left:91.66667%;}
.col-push-12{left:100%;}
}
@media(min-width:1200px){.container{max-width:1160px;}
.col-wd-1{width:8.33333%;}
.col-wd-2{width:16.66667%;}
.col-wd-3{width:25%;}
.col-wd-4{width:33.33333%;}
.col-wd-5{width:41.66667%;}
.col-wd-6{width:50%;}
.col-wd-7{width:58.33333%;}
.col-wd-8{width:66.66667%;}
.col-wd-9{width:75%;}
.col-wd-10{width:83.33333%;}
.col-wd-11{width:91.66667%;}
.col-wd-12{width:100%;}
.col-wd-offset-0{margin-left:0;}
.col-wd-offset-1{margin-left:8.33333%;}
.col-wd-offset-2{margin-left:16.66667%;}
.col-wd-offset-3{margin-left:25%;}
.col-wd-offset-4{margin-left:33.33333%;}
.col-wd-offset-5{margin-left:41.66667%;}
.col-wd-offset-6{margin-left:50%;}
.col-wd-offset-7{margin-left:58.33333%;}
.col-wd-offset-8{margin-left:66.66667%;}
.col-wd-offset-9{margin-left:75%;}
.col-wd-offset-10{margin-left:83.33333%;}
.col-wd-offset-11{margin-left:91.66667%;}
.col-wd-offset-12{margin-left:100%;}
.col-wd-pull-0{right:0;}
.col-wd-pull-1{right:8.33333%;}
.col-wd-pull-2{right:16.66667%;}
.col-wd-pull-3{right:25%;}
.col-wd-pull-4{right:33.33333%;}
.col-wd-pull-5{right:41.66667%;}
.col-wd-pull-6{right:50%;}
.col-wd-pull-7{right:58.33333%;}
.col-wd-pull-8{right:66.66667%;}
.col-wd-pull-9{right:75%;}
.col-wd-pull-10{right:83.33333%;}
.col-wd-pull-11{right:91.66667%;}
.col-wd-pull-12{right:100%;}
.col-wd-push-0{left:0;}
.col-wd-push-1{left:8.33333%;}
.col-wd-push-2{left:16.66667%;}
.col-wd-push-3{left:25%;}
.col-wd-push-4{left:33.33333%;}
.col-wd-push-5{left:41.66667%;}
.col-wd-push-6{left:50%;}
.col-wd-push-7{left:58.33333%;}
.col-wd-push-8{left:66.66667%;}
.col-wd-push-9{left:75%;}
.col-wd-push-10{left:83.33333%;}
.col-wd-push-11{left:91.66667%;}
.col-wd-push-12{left:100%;}
}
@media(max-width:767px){.kit-hidden-mb{display:none;}
}
@media(max-width:991px){.kit-hidden-tb{display:none;}
}
@media(max-width:1199px){.kit-hidden{display:none;}
}
.clearfix,.row{zoom:1;}
.clearfix:before,.row:before,.clearfix:after,.row:after{display:table;content:" ";}
.clearfix:after,.row:after{clear:both;}
.readers-list{display:block;overflow:hidden;padding:0;border:0;text-align:left;line-height:18px;zoom:1;-webkit-margin-before:1em;-webkit-margin-after:1em;-webkit-margin-start:0;-webkit-margin-end:0;-webkit-padding-start:40px;margin-before:1em;margin-after:1em;margin-start:0;margin-end:0;padding-start:40px;}
.readers-list::before,.reader-list::after{display:table;content:"";}
.readers-list::after{clear:both;}
.readers-list li{float:left;display:list-item;margin:0 2px 5px -3px;padding:0!important;width:200px;background:0;list-style:none;text-align:-webkit-match-parent;text-align:match-parent;font-size:11px;}
.readers-list a{position:relative;display:block;overflow:hidden;margin:4px;padding:4px 4px 4px 44px;height:36px;border:#CCC 1px solid;border-radius:2px;background-color:#f2f2f2;background-image:-webkit-linear-gradient(#f8f8f8,#f2f2f2);background-image:-moz-linear-gradient(#f8f8f8,#f2f2f2);background-image:linear-gradient(#f8f8f8,#f2f2f2);box-shadow:#eee 0 0 2px;color:#999;}
.readers-list .pic{float:left;display:inline-block;margin:0 8px 0 -40px;width:36px;height:36px;border-radius:2px;vertical-align:text-bottom;-webkit-transition:all .2s ease-out;transition:all .2s ease-out;}
.readers-list em{float:left;display:block;overflow:hidden;margin-right:10px;width:127px;color:#587686;font-style:normal;font-size:12px;-webkit-transition:all .2s ease-out;transition:all .2s ease-out;whitewhite-space:nowrap;}
.readers-list strong{position:absolute;top:4px;width:40px;background-color:transparent;color:#DDD;text-align:rightright;font:bold 14px/16px microsoft yahei;-webkit-transition:all .2s ease-out;transition:all .2s ease-out;rightright:6px;}
.readers-list a:hover{left:5px;border-color:#BBB;background-color:white;background-image:-webkit-gradient(linear,left bottombottom,left top,color-stop(0,#eee),color-stop(0.5,whiteSmoke),color-stop(0.83,white));background-image:gradient(linear,left bottombottom,left top,color-stop(0,#eee),color-stop(0.5,whiteSmoke),color-stop(0.83,white));box-shadow:#ccc 0 0 2px;}
.readers-list a:hover .pic{margin-left:0;}
.readers-list a:hover em{overflow:hidden;width:81px;color:#587686;font:bold 12px/36px microsoft yahei;word-break:keep-all;whitewhite-space:nowrap;}
.readers-list a:hover strong{top:0;height:44px;border-right:#ccc 1px solid;color:#e38383;text-align:center;line-height:40px;rightright:150px;}

